extends layout
block content
    div.container
        div.content
            p
            |Alexis Kousounadis
            p
            p
            |koussou@ yahoo.com
            p
          div.footer